.fondo{
    background-size: auto;
       
    --background: url("../../../assets/icon/ensaladasdeveranofaciles.jpg");
}

.carta{
        background-color:#FFD300
       
}

.encabezado{
    color: #FFD300;
    
}

