<br><br><br>
<ion-card>
<ion-input [(ngModel)]="nombreReceta" placeholder="Título de la Receta"></ion-input>
<ion-select [(ngModel)]="tipoComida" placeholder="Tipo Comida">
  <ion-select-option value="Desayuno">Desayuno</ion-select-option>
  <ion-select-option value="Almuerzo">Almuerzo</ion-select-option>
  <ion-select-option value="Cena">Cena</ion-select-option>
</ion-select>

<ion-input [(ngModel)]="ingredientes[0]" placeholder="Ingrediente 1"></ion-input>
<ion-input [(ngModel)]="ingredientes[1]" placeholder="Ingrediente 2"></ion-input>
<ion-input [(ngModel)]="ingredientes[2]" placeholder="Ingrediente 3"></ion-input>
<ion-input [(ngModel)]="ingredientes[3]" placeholder="Ingrediente 4"></ion-input>
<ion-input [(ngModel)]="ingredientes[4]" placeholder="Ingrediente 5"></ion-input>
<ion-input [(ngModel)]="ingredientes[5]" placeholder="Ingrediente 6"></ion-input>
<ion-input [(ngModel)]="ingredientes[6]" placeholder="Ingrediente 7"></ion-input>
<ion-input [(ngModel)]="descripcion" placeholder="Prepración"></ion-input>
<!-- Repite para más ingredientes -->
<ion-button (click)="tomarFoto()" color="warning">Añadir Foto</ion-button>

<ion-button (click)="subirReceta()" color="warning">Compartir</ion-button>
<ion-img *ngIf="fotoReceta" [src]="fotoReceta"></ion-img>
</ion-card>

<ion-footer>
  <ion-buttons slot="start">
    <ion-back-button  color="dark" defaultHref="/home"></ion-back-button>
  </ion-buttons>
</ion-footer>  

  
