<ion-card>
  <ion-input [(ngModel)]="nombreReceta" placeholder="Título de la Receta"></ion-input>
  <ion-select [(ngModel)]="tipoComida" placeholder="Tipo Comida">
      <ion-select-option value="Desayuno">Desayuno</ion-select-option>
      <ion-select-option value="Almuerzo">Almuerzo</ion-select-option>
      <ion-select-option value="Cena">Cena</ion-select-option>
  </ion-select>

  <!-- Sección de Ingredientes -->
  <div>
      <h3>Ingredientes</h3>
      <ion-input *ngFor="let ingrediente of ingredientes; let i = index"
                 [(ngModel)]="ingredientes[i]"
                 [ngModelOptions]="{ updateOn: 'blur' }"
                 placeholder="Ingrediente {{i + 1}}"></ion-input>
      
  </div>

  <!-- Sección de Pasos -->
  <div>
      <h3>Pasos</h3>
      <ion-input *ngFor="let paso of pasos; let i = index"
                 [(ngModel)]="pasos[i]"
                 [ngModelOptions]="{ updateOn: 'blur' }"
                 placeholder="Paso {{i + 1}}"></ion-input>
      
  </div>
  <ion-button (click)="agregarPaso()" color="primary">Añadir Paso</ion-button>
  <ion-button (click)="eliminarPaso()" color="danger" [disabled]="pasos.length === 0">Eliminar Paso</ion-button>
  <ion-button (click)="agregarIngrediente()" color="primary">Añadir Ingrediente</ion-button>
  <ion-button (click)="eliminarIngrediente()" color="danger" [disabled]="ingredientes.length === 0">Eliminar Ingrediente</ion-button>
  <ion-button (click)="tomarFoto()" color="warning">Añadir Foto</ion-button>
  <ion-button (click)="subirReceta()" color="warning">Compartir</ion-button>
  <ion-img *ngIf="fotoReceta" [src]="fotoReceta"></ion-img>
</ion-card>

<ion-footer>
  <ion-buttons slot="start">
    <ion-back-button  color="dark" defaultHref="/home"></ion-back-button>
  </ion-buttons>
</ion-footer>  
