<ion-app>

<ion-header>
  <ion-toolbar color="transparent">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">registro</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<div class="ion-page" id="main-content" >
  <ion-header >
    <ion-toolbar class="encabezado">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Registro</ion-title>
      <div class="hcs">
        <img id="logo-home" src="../../../assets/icon/RECETÍN-SIN-FONDO.png">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding" class="fondo">
    

    
    <ion-card class="carta">
      <ion-card-content>
       
      
    
      
      
      <ion-input  type="nombre"  fill="solid"  label="Usuario"  labelPlacement="floating"   errorText="Nombre de Usuario no disponible" ngModel username> </ion-input> 
      
      
      <br>
 
      
      <ion-input  type="password"  fill="solid"  label="Contraseña"  labelPlacement="floating"   errorText="Contraseña no segura" ngModel password> </ion-input> 
      <br>


      <ion-input  type="text"  fill="solid"  label="Nombre"  labelPlacement="floating"   errorText="Nombre Invalido" [(ngModel)]="nombre" > </ion-input>
        
      
      <br>
      <form #correo="ngForm" (ngSubmit)="onSubmitTemplate()">
      <ion-input name="correo"  [(ngModel)]="usuario.correo" type="email"  fill="solid"  label="Correo"  labelPlacement="floating"   errorText="Correo Invalido"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$" required> </ion-input>
      </form>
        
      
      <br>
      <ion-button expand="block" color="warning" routerLink="/home">
        Registrarse
      </ion-button>
  
      
      <ion-button expand="block" color="warning" routerLink="/login">
        Volver
      </ion-button>

      
    
    </ion-card-content>
  </ion-card>
  </ion-content>
</div>

</ion-app>
