.fondo{
    background-size: auto;
       
    --background: url("../../../assets/icon/ensaladasdeveranofaciles.jpg");
}

.carta{
        background-color:#EE8D4A
       
}

.encabezado{
    color: #EE8D4A;
    
}

