.camara{
    color: bisque;
    background-color:black;
}

ion-card{
justify-content: center;
align-items: center;

}

ion-button{
    width: 300px;
    justify-content: center;
    align-items: center;
}