#logo {
    
    width: 500px;
    max-width: 300px;
    min-width: 300px;
    margin-inline: 50px;

}

.header{
    --ion-background-color: #EE8D4A

}

.hcs {
    display: flex;
    flex-direction: row;
    align-items: center;
    --ion-background-color: transparent;    
  }





.inicio-sesion{
    background-size: auto;
       
    --background: url("../../../assets/icon/ensaladasdeveranofaciles.jpg");

    position: absolute;
}



.login{
    --ion-background-color:#EE8D4A
}

.card{
    background-color:#EE8D4A
    
}