#logo {
    
    width: 200px;
    max-width: 300px;
    min-width: 100px;
    margin-inline: 35px;
    justify-content: center;
    align-items: center;

}

.header{
    --ion-background-color: #EE8D4A

}

.hcs {
    display: flex;
    flex-direction: row;
    align-items: center;
    --ion-background-color: transparent;    
  }





.inicio-sesion{
    background-size: auto;
       
    --background: url("../../../assets/icon/ensaladasdeveranofaciles.jpg");

    position: absolute;
}



.login{
    --ion-background-color:#292528
}

.card{
    background-color:#292528
    
}