<ion-app> 
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="hcs">
          <img id="logo-home" src="../../../assets/icon/RECETÍN-SIN-FONDO.png">
          <ion-title>Mis Recetas</ion-title>
        </div>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-no-padding">
     
      <!-- Cartas de Recetas -->
      <ion-card *ngFor="let receta of recetas" (click)="openModal(receta)">
        <img [src]="receta.foto"  class="modal-image" alt="{{ receta.nombre }}" />
        <ion-card-header>
          <ion-card-title>{{ receta.nombre }}</ion-card-title>
          <ion-card-subtitle color="warning">{{ receta.tipo }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{ receta.descripcion }}
        </ion-card-content>
      </ion-card>
    </ion-content>

    <ion-footer>
      <ion-buttons slot="start">
        <ion-back-button color="dark" defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-footer>
  </div>

<!-- Modal de Receta -->
<ion-modal #modalReceta [isOpen]="isModalOpen" (didDismiss)="closeModal()">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{ selectedReceta?.nombre }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">Cerrar</ion-button> 
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div *ngIf="selectedReceta">
      <ion-content>
      
      <img  *ngIf="selectedReceta.foto" class="modal-image" [src]="selectedReceta.foto" alt="{{ selectedReceta.nombre }}" />
      </ion-content>
      <ion-card-header>
        <ion-card-subtitle color="warning">{{ selectedReceta.tipo }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>{{ selectedReceta.descripcion }}</p>
        <h4>Ingredientes:</h4>
        <ul>
          <li *ngFor="let ingrediente of selectedReceta.ingredientes">{{ ingrediente }}</li>
        </ul>
        <h4>Pasos:</h4>
        <ol>
          <li *ngFor="let paso of selectedReceta.pasos">{{ paso }}</li>
        </ol>
      </ion-card-content>
      <ion-buttons slot="end">
        <ion-button expand="full" (click)="closeModal()">Cerrar</ion-button> 
      </ion-buttons>
    </div>
  </ion-content>
  
  
</ion-modal>
</ion-app>
