<ion-app>
  <ion-header>
    <ion-toolbar>
      <div class="hcs">
        <img id="logo-home" src="../../../assets/icon/RECETÍN-SIN-FONDO.png">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="icon">
    <img src="../../../assets/icon/ensaladasdeveranofaciles.jpg" alt="perfil" class="icono-perfil">
    <!-- Usa el nombre recibido para dar la bienvenida -->
    <h1>Bienvenido, {{ nombreRecibido || 'Usuario' }}!</h1>

    
  </ion-content>
  <ion-button color="warning" id="open-action-sheet">Eliminar Cuenta</ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="¿Está seguro que quiere eliminar?" [buttons]="actionSheetButtons"></ion-action-sheet>

  <ion-footer> 
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-footer>
</ion-app>



