<ion-app>
  <ion-header>
    <ion-toolbar>
      <div class="hcs">
        <img id="logo-home" src="../../../assets/icon/RECETÍN-SIN-FONDO.png">
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="icon">
    <img src="../../../assets/icon/ensaladasdeveranofaciles.jpg" alt="perfil" class="icono-perfil">
    <!-- Usa el nombre recibido para dar la bienvenida -->
    <h1>Bienvenido, {{ nombreRecibido || 'Usuario' }}!</h1>
    <hr><hr><hr><hr>
    <ion-item>
      <ion-label>Recetas Favoritas</ion-label>
      <ion-badge color="warning">70</ion-badge>
    </ion-item>
    <ion-list>
      <ion-item>
        <ion-label>Recetas Creadas</ion-label>
        <ion-badge>1</ion-badge>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer> 
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-footer>
</ion-app>



