<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Reconocimiento de Ingredientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="full" (click)="takePhoto()" color="warning">Tomar Foto</ion-button>

  <div *ngIf="imageUrl" style="text-align: center; margin: 10px;">
    <img [src]="imageUrl" alt="Foto tomada" style="max-width: 100%; height: auto;" />
  </div>

  <ion-list *ngIf="labels.length > 0">
    <ion-list-header>
      <ion-label>Ingredientes Identificados</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let label of labels">
      <ion-label>{{ label.description }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-footer>
</ion-content>