<ion-app>
    <ion-header>
      <ion-toolbar>       
        <div class="hcs">
          <img id="logo-home" src="../../../assets/icon/RECETÍN-SIN-FONDO.png">
          <ion-title></ion-title>   
        </div>
      </ion-toolbar>
      <ion-searchbar show-clear-button="focus" color="dark" value="Locales cerca"></ion-searchbar>
    </ion-header>

      <ion-footer>
        <ion-buttons slot="start" color="warning">
          <ion-back-button  color="dark" defaultHref="/home"></ion-back-button>
        </ion-buttons>
      </ion-footer>  

</ion-app>