.gps{
    background-size: auto;
    position: absolute;
    background-image: url(../../../assets/icon/Mapa.png);
}

ion-col {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
    width: 40px;
  }


.carta-local{
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 150px;
}
