<ion-app>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>       
        <div class="hcs">
          <img id="logo-home" src="../../../assets/icon/RECETÍN-SIN-FONDO.png">
          <ion-title></ion-title>   
        </div>
      </ion-toolbar> 
    </ion-header>

    <ion-list>
      <ion-item>
        <ion-label>Mis Datos</ion-label>
      </ion-item>
      <br><br><br>
      <ion-item>
        <ion-label>Editar Perfil</ion-label>
      </ion-item>
      <br><br><br>
      <ion-item>
        <ion-label>Historial</ion-label>
      </ion-item>
      <br><br><br>
      <ion-item>
        <ion-label>Ayuda</ion-label>
      </ion-item>
      <br><br><br>
      <ion-item>
        <ion-label>Sobre la aplicación</ion-label>
      </ion-item>
    </ion-list>

    

    <ion-footer>
      <ion-buttons slot="start">
        <ion-back-button  color="dark" defaultHref="/home"></ion-back-button>
      </ion-buttons>
    </ion-footer>
  </div>
</ion-app>